body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f8fa;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.todo-container{
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}
h1{
    text-align: center;
    color: #333;
}
.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
button{
    padding: 15px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background-color: #45a049;
    transform: scale(1.1);
}
ul{
    list-style: none;
    padding: 0;
}
.container{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-div{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 0.6rems;
}
.completed{
    text-decoration: line-through;
    color: gray;
}

.complete-btn{
    background-color: #45a049;
    margin-right: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn:hover{
    background-color: #4caf50;
}
.delete-btn{
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: #c0392b;
}
